section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 5px;
    padding-left: 3.5%;
}

h1 {
    text-align: center;
}

h2 {
    padding-left: 3.5%;
}

p {
    display: flex;
}

footer {
    text-align: center;
}
